* {
  margin: 0;
  padding: 0;
}
.type-1649 {
  margin-top: 80px;
  background-color: #fff;
  border: none;
  font-family: "Lora", serif;
}
.type-1649 .dropdown {
  position: relative;
  display: inline-block;
}
.type-1649 .nav-item {
  margin-left: 15PX;
  list-style-type: none;
}
.type-1649 .nav-item a {
  font-weight: bold;
}
.type-1649 .nav-item .nav-link {
  color: #535353;
  margin-left: 15px;
  font-weight: bold;
}
.type-1649 .navbar-nav li a {
  text-transform: uppercase;
  color: #000;
}
.type-1649 .navbar-nav li a .show-right {
  float: right;
}
.type-1649 .navbar-nav li a:hover {
  color: #27C7D8;
}
.type-1649 .navbar-nav li:hover {
  display: block;
}
.type-1649 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  z-index: 1;
  list-style: none;
}
.type-1649 .navbar-right {
  margin-left: 0px !important;
}
.type-1649 .navbar-right li a i {
  color: #535353 !important;
  font-weight: bold;
  font-size: 25px;
}
.type-1649 .navbar-right li a i:hover {
  color: #27C7D8 !important;
}
.type-1649 .nav>li>a:hover {
  color: #27C7D8;
}
.type-1649 .dropdown:hover .dropdown-content {
  display: block;
}
@media all and (max-width: 500px) {
  .type-1649 .navbar-nav {
    color: red;
    display: table-caption;
    margin-left: 1px;
  }
  .type-1649 .navbar-collapse.in {
    background: lightblue;
  }
}
