.type-1647 .column {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 100;
}
.type-1647 .column .img {
  margin: 17px;
  padding-top: 13px;
  max-width: 90%;
}
.type-1647 .column .blog-center .section-title {
  overflow: hidden;
  margin-bottom: 0.8em;
  padding-bottom: 0.6em;
  border-bottom: 1px dotted grey;
}
.type-1647 .column .blog-right .tab-content {
  margin-bottom: 10px;
}
.type-1647 .column .blog-right .quote-text {
  font-size: 1.1em;
  line-height: 1.6em;
  font-style: italic;
  padding: 1em 20px;
  border: 1px solid #E2E2E2;
}
.type-1647 .column .blog-right .block-background {
  font-family: sans-serif;
}
.type-1647 .column .blog-right .current {
  display: block;
  position: relative;
  z-index: 1;
}
.type-1647 .nav {
  margin-left: 100px;
}
.type-1647 .nav li a {
  padding: 5px;
  background: #fff;
}
.type-1647 .nav li a img {
  background: #dfdfdf;
}
.type-1647 .nav li a img:hover {
  background: #ff9000;
}
.type-1647 h6 {
  color: #000;
  font-family: "UTM Aristote";
}
