.type-2027 .content {
  width: 1170px;
  height: 800px;
}
.type-2027 .nav li {
  padding-left: 50px;
  padding-bottom: 10px;
}
.type-2027 .nav a {
  color: green;
}
.type-2027 .nav a:hover {
  color: #fff;
  background-color: green;
}
.type-2027 .banner-top .text-content {
  padding-left: 0;
  width: 40%;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.type-2027 .banner-top .text-content h4 {
  color: #6c8e01;
  font-size: 187.5%;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0;
  position: relative;
  z-index: 2;
}
.type-2027 .banner-top .text-content .text-readmore {
  color: #6c8e01;
  font-size: 16px;
  border: 2px solid #6c8e01;
  border-radius: 40px;
  padding: 12px 30px;
  display: inline-block;
  font-weight: 700;
}
.type-2027 img {
  max-width: 100%;
  margin: auto;
  height: auto;
}
.type-2027 .banner-bottom .text-content {
  padding-left: 0;
  width: 40%;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.type-2027 .banner-bottom .text-content h4 {
  color: #6c8e01;
  font-size: 187.5%;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0;
  position: relative;
  z-index: 2;
}
.type-2027 .banner-bottom .text-content .text-readmore {
  color: #6c8e01;
  font-size: 16px;
  border: 2px solid #6c8e01;
  border-radius: 40px;
  padding: 12px 30px;
  display: inline-block;
  font-weight: 700;
}
.type-2027 .pos_title h2 {
  color: #6c8e01;
  font-size: 187.5%;
  text-transform: capitalize;
  font-weight: 900;
  margin: 0;
  position: relative;
  display: inline-block;
}
.type-2027 .pos_content {
  margin-top: 30px;
}
.type-2027 .banner-inner {
  margin-top: 60px;
}
.type-2027 .banner-inner a:before {
  background: rgba(255,255,255,0.2);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  right: 51%;
  top: 0;
  opacity: 1;
}
.type-2027 .banner-inner a:after {
  background: rgba(255,255,255,0.2);
  bottom: 50%;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 1;
}
.type-2027 .item-product a:hover {
  text-decoration: none;
  border-color: grey;
}
.type-2027 .item-product p {
  color: orange;
  text-align: center;
}
